@model IEnumerable<OSWALD.Models.Conversation>

<div class="row">
    <div class="col-md-12">
        <form name="Oswin" id="oswin">
            <textarea name="chat_window" id="chat">
            </textarea><br /><br />
            <input type="text" name="user_entry" id="user_entry"><br /><br />
            <button type="submit" class="btn" id="send">Send</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>
