@model OSWALD.Models.Chatbot

<div class="row">
    <div class="col-md-12">
        <h1>OSWALD - Interactive Assistant</h1>
        <p>
            OSWALD is an Artificial Intelligence made with ASP .NET MVC and C#.<br />
            As of for now, OSWALD is able to tell you information about me, don't hesitate to ask what you want to know.<br /><br />
            <span id="disclaimer">
                In order to make OSWALD more intelligent, every conversations are stored in a database.<br />
                By having a talk with my chatbot, you agree to the fact that the conversations will be stored and analyzed.
            </span>
        </p>
    </div>
</div>
@{ 
    Html.RenderPartial("_ChatWindow");
}