@{
    ViewBag.Title = "OSWALD";
}

<div class="row">
    <div class="col-md-12">
        <h1>OSWALD - Interactive Assistant</h1>
        <p>
            OSWALD is an Artificial Intelligence made with ASP .NET MVC and C#.<br />
            The goal of OSWALD is to help me improve my knowledge in AIs.<br /><br />
            As of for now, OSWALD is able to tell you information about me, don't hesitate to ask him what you want to know.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <textarea>
            </textarea>
            <button type="submit" class="btn">Send</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>